/*This is my css stuff. Mostly, I just used the angular material css. */

/*Make the search bar as wide as it can be*/
md-autocomplete {
	width: 100%;
}

/*The entire app gets a margin!*/
.md-red {
	margin: 20px;
}

/*Topic title styling, for both the display and form*/
.topic-title {
	font-size: 30px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*No margins for list items themselves*/
md-list-item {
	margin: 0px;
}
/*Give text a margin of 10px on a list item*/
.md-list-item-text {
	margin: 10px;
	padding: 0px;
}

/*Remove outline on focus*/
div:focus {
    outline: none;
}

/*Set the width of the nav bar*/
#topic-sidebar{
	width: 25vw;
}

/*Trying to handle overflow of the sidebar. Unfortunately, I wasn't able to figure this out for a string with very long spaces*/
span {
	width: 100%;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
