<div class="container-card">
  <div ng-model = "authenticated" ng-if = "authenticated"> 
  <button ng-click="logout()">
    Logout
  </button>

  </div>

  <div ng-model = "authenticated" ng-if = "!authenticated">
    <button ng-click="login()">
      Login with Spotify
    </button>
  </div>

      <h3>Your Playlists</h3>
      <div ng-repeat="playlist in userPlaylists" >
          <button 
            ng-click="showPlaylist(playlist)"
            id = "playlist-{{playlist.id}}"
            class = "playlist-button"
            ng-class="{tracked: playlist.isTracked}">
            {{playlist.name}}
          </button>
      </div>

  </div>

  <div id = "playlist-content">
    <div id= "current-playlist" ng-model="currentPlaylist" ng-if="currentPlaylist.name">
      <md-list>
        <div class="playlist-header" ng-switch="currentPlaylist.isTracked">
          <h3>{{currentPlaylist.name}}</h3>
          
          <div
            ng-model="currentPlaylist"
            ng-switch-when="true"
            ng-click="untrackPlaylist(currentPlaylist)"> 
              <button>
                Untrack Playlist
              </button>
              <button>
                See Revision History
              </button>
          </div>
          
          <div
            ng-model="currentPlaylist"
            ng-switch-when="false"
            ng-click="trackPlaylist(currentPlaylist)"> 
              <button>
                Track Playlist
              </button>
          </div>
          
        </div>
        
        <md-divider ></md-divider>

        <div ng-repeat = "track in currentPlaylist.tracks.items">
          <md-list-item >
            <md-subheader> {{track.track.name}} </md-subheader>
          </md-list-item>
          <md-divider ></md-divider>
        </div>
      </md-list>  
    </div>
  </div>
</div>